.body {
  padding-left: 25px;
  padding-top: 20px;
}

.item {
  vertical-align: middle;
  display: inline-block;
  margin-top: 5px;
  margin-right: 20px;
}

.topLabel {
  margin-top: 5px;
}

.label {
  margin-left: 5px;
}
