.input {
  width: 210px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--white);
  border: solid 1px var(--slateGray20);
  padding: 0 12px;
  font-size: 16px;
  font-weight: var(--font-regular);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -.2px;
  color: var(--slateGray100);
  appearance: none;
  &::placeholder {
    color: var(--slateGray50);
  }
  &:hover,
  &:active {
    border: solid 1px var(--dodgerBlue40);
  }
  &:focus {
    border: solid 1px var(--dodgerBlue40);
    outline: none;
  }
  &:disabled {
    color: var(--slateGray20);
    &::placeholder {
      color: var(--slateGray20);
    }

    border-radius: 4px;
    background-color: var(--slateGray5);
    border: solid 1px var(--slateGray20);
  }
}

.input--right {
  background-color: var(--green20);
  border: solid 1px var(--green30);
}

.input--wrong {
  background-color: var(--red20);
  border: solid 1px var(--red30);
}
