{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
