.bar {
  height: 22px;
  padding: 5px;
  background-color: var(--slateGray5);
  align-items: center;
  -webkit-app-region: drag;

  div {
    display: inline-block;
  }
}

.fixedTop {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.line {
  position: fixed;
  top: 32px;
  width: 100%;
  height: 1px;
  background-color: var(--slateGray20);
}

.title {
  float: left;
  margin-left: 5px;
  color: var(--blueGray70);
  font-size: 21px;
  line-height: 1;
  vertical-align: middle;
}

.buttons {
  float: right;
  -webkit-app-region: no-drag;
  margin-right: 10px;

  button {
    margin-left: 20px;

    &:focus, &:hover {
      text-decoration: none;
    }
  }
}
