.item {
  display: block;
  float: left;
  list-style-type: none;
  width: 48%;
  height: 340px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    margin-bottom: 30px;
    margin-right: 12px;
}

.card {
    height: 100%;
    display: block;
    margin: 25% 0;
}

.word {
  font-family: Chig;
  font-size: 52px; 
  text-align: center;
  vertical-align: middle;
}

.mean {
  padding-top: 45px;
  text-align: center;
  vertical-align: middle;
}
