:root {
  --black: black;
  --white: white;
  --slateGray5: #f2f4f5;
  --slateGray10: #e6e8eb;
  --slateGray20: #d1d5d9;
  --slateGray30: #b8bfc4;
  --slateGray40: #9ea7ad;
  --slateGray50: #808991;
  --slateGray60: #636c73;
  --slateGray70: #525a61;
  --slateGray80: #40474d;
  --slateGray90: #303538;
  --slateGray100: #212529;
  --blueGray5: #f2f6fc;
  --blueGray10: #d6deeb;
  --blueGray20: #94a2b8;
  --blueGray30: #738096;
  --blueGray40: #59667a;
  --blueGray50: #475161;
  --blueGray60: #384252;
  --blueGray70: #2e3847;
  --blueGray80: #212b3b;
  --blueGray90: #17202e;
  --blueGray100: #0f1724;
  --lightSteelBlue5: #f7fafc;
  --lightSteelBlue10: #f0f5fa;
  --lightSteelBlue20: #e3edf7;
  --lightSteelBlue30: #d6e3f0;
  --lightSteelBlue40: #ccd9e6;
  --lightSteelBlue50: #c4d1de;
  --lightSteelBlue60: #b3c2d1;
  --lightSteelBlue70: #9eafbf;
  --lightSteelBlue80: #8c9dad;
  --lightSteelBlue90: #7d8e9e;
  --lightSteelBlue100: #70808f;
  --dodgerBlue5: #ebf6ff;
  --dodgerBlue10: #cce8ff;
  --dodgerBlue20: #99d1ff;
  --dodgerBlue30: #66baff;
  --dodgerBlue40: #339cf2;
  --dodgerBlue50: #1f8ce6;
  --dodgerBlue60: #0077d9;
  --dodgerBlue70: #0062b3;
  --dodgerBlue80: #005499;
  --dodgerBlue90: #004680;
  --dodgerBlue100: #003866;
  --red5: #fce8e6;
  --red10: #fabab3;
  --red20: #f5948a;
  --red30: #ed6d5e;
  --red40: #eb5847;
  --red50: #e64937;
  --red60: #d93826;
  --red70: #c93221;
  --red80: #ba2c1c;
  --red90: #ab2617;
  --red100: #942114;
  --orange5: #ffeee6;
  --orange10: #ffccb3;
  --orange20: #ffaa80;
  --orange30: #ff884d;
  --orange40: #fa722e;
  --orange50: #fa5300;
  --orange60: #e64d00;
  --orange70: #c40;
  --orange80: #b33b00;
  --orange90: #930;
  --orange100: #802b00;
  --green5: #f1faeb;
  --green10: #ddf2cc;
  --green20: #b2e08f;
  --green30: #7bcf3b;
  --green40: #5abf0d;
  --green50: #4fb303;
  --green60: #469e03;
  --green70: #409103;
  --green80: #398003;
  --green90: #2c6600;
  --green100: #214d00;
  --brown5: #fff9f0;
  --brown10: #f5e8d4;
  --brown20: #e6cfad;
  --brown30: #d1aa70;
  --brown40: #c29757;
  --brown50: #b0874a;
  --brown60: #a37a3d;
  --brown70: #8f6930;
  --brown80: #805b24;
  --brown90: #6b4a1a;
  --brown100: #5c3f14;
}
