@import 'normalize.css';
@import 'font.css';
@import 'color.css';
@import 'icon.css';

body {
  font-size: 1em;
  font-family: -apple-system, Apple SD Gothic Neo, NotoSans, sans-serif;
  overflow: hidden;
}

::selection {
  background: var(--dodgerBlue40);
}
