.button {
  width: 24px;
  height: 24px;
  object-fit: contain;
  background-color: transparent;
  text-align: center;
  border: initial;
  padding: 0;
  color: var(--blueGray70);

  &:hover {
    opacity: .5;
  }
}

.close {
  background-color: var(--blueGray70);
  -webkit-mask-image: var(--icon-close);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.minimize {
  background-color: var(--blueGray70);
  -webkit-mask-image: var(--icon-minimize);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.back {
  background-color: var(--blueGray70);
  -webkit-mask-image: var(--icon-back);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
